Rekursio
Rekursio2
Rekursio1
Rekursio3
Rekursio4
/viikko01-Viikko01Tehtava4/build/
/viikko01-Viikko01Tehtava5/build/
/viikko01-Viikko01Tehtava7/build/
/viikko02-Viikko02Tehtava6/nbproject/private/
/viikko02-Viikko02Tehtava5/nbproject/private/
/viikko02-Viikko02Tehtava7/nbproject/private/
/viikko02-Viikko02Tehtava5/build/
/viikko02-Viikko02Tehtava7/build/
/viikko02-Viikko02Tehtava6/build/
/viikko03-Viikko03Tehtava6/nbproject/private/
/viikko03-Viikko03Tehtava4/nbproject/private/
/viikko03-Viikko03Tehtava7/nbproject/private/
/viikko03-Viikko03Tehtava5/nbproject/private/
/viikko03-Viikko03Tehtava7/build/
/viikko03-Viikko03Tehtava4/build/
/viikko03-Viikko03Tehtava5/build/
/viikko03-Viikko03Tehtava6/build/
/viikko04-Viikko04Tehtava4/nbproject/private/
/viikko04-Viikko04Tehtava5/nbproject/private/
/viikko04-Viikko04Tehtava6/nbproject/private/
/viikko04-Viikko04Tehtava7/nbproject/private/
/viikko05-Viikko05Tehtava5/nbproject/private/
/viikko05-Viikko05Tehtava6/nbproject/private/
/viikko05-Viikko05Tehtava7/nbproject/private/
/viikko05-Viikko05Tehtava4/nbproject/private/
/viikko04-Viikko04Tehtava4/build/
/viikko04-Viikko04Tehtava5/build/
/viikko04-Viikko04Tehtava6/build/
/viikko04-Viikko04Tehtava7/build/
/viikko05-Viikko05Tehtava7/build/